{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owolabi Akintan</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"></script>
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon" style="height: 100px;">
    <script src="https://kit.fontawesome.com/18de66c05e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'PortFolio/main.css' %}">
    <script src="{% static 'PortFolio/main.js' %}"></script>
    
</head>
<body onload="scrollNav()">
    <!-- wrapper div-->
        
        <!--top-header-->
        <div class="myLinks">
            <i class="fa-brands fa-facebook-square"></i>
           <a href=""> <i class="fa-brands fa-whatsapp"></i></a>
           <a href="https://github.com/owolabi-develop"> <i class="fa-brands fa-github"></i></a>
           <a href="https://www.linkedin.com/in/owolabi-akintan-73645a230"><i class="fa-brands fa-linkedin"></i>
           
        </div>
        <!--START of menu wrapper-->
       <div class="menuWrapper">
           <!--MENU-->
           <div class="mainrow">
            <div class="col logo">
                <img src="{% static 'images/logo.png' %}">
            </div>
            <div class="col menu">
                <a href="{% url 'PortFolio:index' %}" class="active"></i>HOME</a>
                <a href="#service1">&nbsp;&nbsp; <span class="p1">01.</span>SERVICES</a>
                <a href="#AboutMe1">&nbsp;&nbsp; <span class="p1">02.</span>ABOUT</a>
                <a href="#SkillBar">&nbsp;&nbsp; <span class="p1">03.</span>SKILL</a>
                <a href="#projectFrame">&nbsp;&nbsp; <span class="p1">04.</span>WORK</a>
                <a href="#forms1">&nbsp;&nbsp; <span class="p1">10.</span>CONTACT</a>  
            </div>

            <div class="col navBar" onclick="NavBar()">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <!--MENU-->
       </div>
       <!--end of menu wrapper-->
       <!--nav dropdown-->
       <div class="navDropDown">
             <a href="{% url 'PortFolio:index' %}" class="active"></i>HOME</a>
                <a href="#service1">&nbsp;&nbsp; <span class="p1">01.</span>SERVICES</a>
                <a href="#AboutMe1">&nbsp;&nbsp; <span class="p1">02.</span>ABOUT</a>
                <a href="#projectFrame1">&nbsp;&nbsp; <span class="p1">03.</span>WORK</a>
                <a href="#forms1">&nbsp;&nbsp; <span class="p1">10.</span>CONTACT</a>


       </div>
       <!--nav dropdown end-->
        <div id="Top-header">
            
            <!--DISPLAY HEADER-->
            <div class="mainrow">
                <div class="col textContent">
                   
                    <p> <span style="color: darkcyan;">Hello,name is</span></p>
                    <h1>Akintan Owolabi.</h1>
                    <h1>I build things for the web.</h1>
                    <p>I’m a web developer specializing in building (and occasionally designing)<br> 
                        exceptional digital experiences. Currently,I’m focused on building accessible, <br>human-centered products</p>

                </div>
            
            </div>
            <!--END DISPLAY HEADER-->

          
            
        </div>
        <!--end of top-header-->

        <!--profile Card-->
       

        <!--start contentSection-->
        <div id="contentWrapper">
            <div class="mainrow">
                <h3><span class="p1">01.</span> &nbsp;&nbsp;<span class="Abt">My Service ______________________ </span> </h3>
                <div class="col UX service">
                    <i class="fa-solid fa-code"></i>
                    <p>UX UI responsive WebSite Developement</p>
                    <p>
                        I use various web technologies to 
                        develop attractive websites which 
                        converts visitors to customers. 
                        I develop creative and responsive website layouts.
                    </p>
                </div>
                <div class="col database service"> 
                    <i class="fa-solid fa-database"></i>
                    <p>Database management Mysql/PostgreSql</p> 
                    <p>
                        I work with certain design database tools 
                        to create high-fidelity designs and 
                        prototypes. I design accessible and usable products which aid business growth.
                    </p> 
                </div>
               
                <div class="col service" id="service1"> 
                    <i class="fa-solid fa-layer-group"></i>
                    <p>Graphics Design using Adobe photoShop</p>
                    <p>
                        I work with certain design tools 
                        to create high-fidelity designs and 
                        prototypes. I design accessible and usable products which aid business growth.
                    </p> 
                </div>
            </div>
            <div class="mainrow">
                <div class="col AboutMe" id="AboutMe1">
                    <h3><span class="p1">02.</span> &nbsp;&nbsp;<span class="Abt">About Me _________________ </span> </h3>
                    <p>
                        Hello! My name is Owolabi and I enjoy creating things that live on the internet. My interest in web development started back in 2012 when I decided to try editing custom Tumblr themes — turns out hacking together a custom reblog button taught me a lot about HTML & CSS!<br/>

Fast-forward to today, and I’ve had the privilege of working at an advertising agency, a start-up, a huge corporation, and a student-led design studio. My main focus these days is building accessible, inclusive products and digital experiences at Upstatement for a variety of clients.


Here are a few technologies I’ve been working with recently:
                    </p>
                    <h5>
                    <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;Owolabidevelop84@gmail.com |
                    <i class="fa-solid fa-phone"></i>&nbsp;&nbsp;+2349132094847 |
                    <i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;Lagos Nigeria
                    </h5>
                </div>
                <div class="col mypic">
                    <div>
                    <img src="{% static 'images/me.png' %}">
                </div>
                </div>
            </div>
             <!--start of skillcontainer-->
                 <h3><span class="p1">03.</span> &nbsp;&nbsp;<span class="Abt">Skills ______________________ </span> </h3>
                <div class="containerSkill" id="SkillBar">
                    <div class="skills">
                        <div class="details">
                          <span>Html</span>
                          <span>100%</span>
                        </div>
                        <div class="bar">
                           <div class="html-bar"></div>
                        </div>
                      </div>

                      <div class="skills">
                        <div class="details">
                          <span>Css</span>
                          <span>100%</span>
                        </div>
                        <div class="bar">
                           <div class="css-bar"></div>
                        </div>
                      </div>
                     
                      <div class="skills">
                        <div class="details">
                          <span>Javascript</span>
                          <span>85%</span>
                        </div>
                        <div class="bar">
                           <div class="javascript-bar"></div>
                        </div>
                      </div>
                     
                      <div class="skills">
                        <div class="details">
                          <span>jQuery</span>
                          <span>68%</span>
                        </div>
                        <div class="bar">
                           <div class="jQuery-bar"></div>
                        </div>
                      </div>


                      <div class="skills">
                        <div class="details">
                          <span>Python</span>
                          <span>90%</span>
                        </div>
                        <div class="bar">
                           <div class="python-bar"></div>
                        </div>
                      </div>

                      <div class="skills">
                        <div class="details">
                          <span>Django</span>
                          <span>90%</span>
                        </div>
                        <div class="bar">
                           <div class="django-bar"></div>
                        </div>
                      </div>

                      <div class="skills">
                        <div class="details">
                          <span>Mysql</span>
                          <span>70%</span>
                        </div>
                        <div class="bar">
                           <div class="mysql-bar"></div>
                        </div>
                      </div>







                    
                </div>
            
            <!--End of skillcontainer-->
            <!--my work container-->
            <h3><span class="p1">04.</span> &nbsp;&nbsp;<span class="Abt">My projects ______________________ </span> </h3>
            <div class="projectFrame" id="projectFrame">
                <div class="projectImege"> <img src="{% static 'images/developer_blog_screenshort.png' %}"></div>
                <div class="project-desc">
                    <p>Full functional blog website with ajax search features build with Python Django, Html,Javascript Css and PostgreSql </p>
                    <div id="button_div">
                        <a href="https://developer-news-porter.herokuapp.com/"><button class="vertical">View WebSite</button></a>
                         </div>
                </div>

              
                <div class="project-desc">
                    <p>Full functional E-commerce website build with Python Django, Html,Javascript Css and PostgreSql with Payment checkout page. intergrated with paystack api</p>

                    <div id="button_div">
                      <a href="https://owolabi-ecommerce.herokuapp.com/"><button class="vertical">View WebSite</button></a>
                       </div>
                </div>
                <div class="projectImege"> <img src="{% static 'images/fashionstore_screen short.png' %}"></div>


                <div class="projectImege"> <img src="{% static 'images/daliythought_news.png' %}"></div>
                <div class="project-desc">
                    <p>Full functional New Aggregator Application that allow user to export it data to csv format</p>

                    <div id="button_div">
                      <a href="https://daily-thought.herokuapp.com/"><button class="vertical">View WebSite</button></a>
                       </div>
                </div>
               

                
               
             
            </div>

            
            <hr class="ProHr">
        <div class="mainrow">
            <div class="col forms" id="forms1">
               
                <div>
                    <h3><span class="p1">10.</span> &nbsp;&nbsp;<span class="Abt">Get in Touch _____________ </span> </h3>
                    <p class="pContact">I am available to work on your projects and bring your ideas to life. I am just a click away.</p>
                <form method="post" action="{% url 'PortFolio:index' %}">
                {% csrf_token %}
                    {{forms.non_field_error}}
                   
                    <table>
                        <tr>
                           
                            
                             <td>{{forms.FirstName}}</td>
                             <td>{{forms.LastName}}</td>
                        </tr>
                        <tr>
                             <td>{{forms.Subject}}</td>
                            <td>{{forms.Sender}}</td>
                        </tr>
                    </table>
                    {{forms.Message}}
                    <br>
                    
                   
                    <input type="Submit" value="Send Mail">
                </form>
            </div>
            </div>

        </div>
      


        </div>
        <!--end contentSection-->

    <!--footer-->
<div id="footerHolder">
          
        
    <hr class="footHr">
    <div class="mainrow">

    <h5 align="center"><i class="fa-solid fa-copyright"></i>Copy Right 2022 DevelopWithOwolabi.com | <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;Owolabidevelop84@gmail.com</h5>
    </div>
    <hr class="footHr">
    <br>
    <br>
</div>
<!--end footer-->

    <!-- end wrapper div-->
    
</body>
</html>